In [1]:
from IPython.core.display import display, HTML
display(HTML('<h1>Hello, world!</h1>'))

In [1]:
from IPython.display import display, HTML

text='''
+-------+-------+-------+-----+
  |  col1 | col2  |  col3 |col4 |  
+-------+-------+-------+-----+
|  val1 | val2  |  val3 |val4 |
|  valu1|value2 |value3|val4|
+-------+-------+-------+-----+
'''

def displayMysqlTableTextAsHTML(text):
    header=False
    colNames=[]
    values=[]
    for line in text.split('\n'):
        line = line.strip()
        row=[]
        if len(line) != 0 and line[0] != '+' and line[0] == '|':
            if not header:
                header=True
                colNames = [ colName.strip() for colName in (line.strip())[1:-1].split('|')]
            else:
                row = [ value.strip() for value in (line.strip())[1:-1].split('|')]
                values.append(row)

            #print("line=" + line)

    #print("colNames=" + str(colNames))
    #print("values=" + str(values))

    #html = ''
    #html_table = '<table>' + table + '</table'
    '''
    <table>
    <tr>
    <th>Header 1</th>
    <th>Header 2</th>
    </tr>
    <tr>
    <td>row 1, cell 1</td>
    <td>row 1, cell 2</td>
    </tr>
    <tr>
    <td>row 2, cell 1</td>
    <td>row 2, cell 2</td>
    </tr>
    </table>'''

    #print('\n'.join(["1","2"]))
    table = '<table>' + \
        '<tr>' + '\n'.join( [ '<th>'+colName+'</th>' for colName in colNames ] ) + '\n</tr>\n' + \
        '\n'.join([ '<tr>'+ \
            #str(row) + \
                   '\n    '.join( [ '<td>'+value+'</td>' for value in row ] ) +
          '\n</tr>' for row in values ]) +\
        '</table>'

    #print(table)
    display(HTML(table))
    
displayMysqlTableTextAsHTML(text)